zookeeper-data/
zookeeper-log-data/

.classpath
.gradle
.idea
*.iml
.project
.settings

/build/
/build-eclipse
/modules/*/build/
/modules/*/build-eclipse

prodDb*
.DS_Store
stacktrace.log
log.log
results
junit*
extras/ec2/bin/katta-ec2-env.sh
modules/katta-ec2/bin/katta-ec2-env.sh
